
/* Need to set the body's margin to 0 so the weather container centers correctly */
body {
    margin: 20px;

    /* Adding the gradient background */
    background: linear-gradient(-45deg, #23bef7, #ee7752, #c73e1d);
	background-size: 200% 200%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}


/* Trying to center the cards inside of the container */
.weather_card_container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

/* Trying to center the header, need to put this into a container fixme */
.h1-header {
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0 auto;
}

/* Creating a fancy button */
button {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  
  color: #090909;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 1px 1px 2px #c5c5c5, -1px -1px 2px #ffffff;
  
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}


/* For the gradient animated background */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Footer */
footer {
    margin: 20px;
    padding: 20px;
}

h4 {
    font-size: 15px;
    color: transparent;
    /* background-color: white; */
    /* padding: 20px; */
}